#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Chutchit";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  106    0       0     0     0>
            , <&key_physical_attrs 100 100  238    0       0     0     0>
            , <&key_physical_attrs 100 100  344    0       0     0     0>
            , <&key_physical_attrs 100 100  450    0       0     0     0>
            , <&key_physical_attrs 100 100  556    0       0     0     0>
            , <&key_physical_attrs 100 100  688    0       0     0     0>
            , <&key_physical_attrs 100 100  794    0       0     0     0>
            , <&key_physical_attrs 100 100 1693    0       0     0     0>
            , <&key_physical_attrs 100 100 1799    0       0     0     0>
            , <&key_physical_attrs 100 100 1932    0       0     0     0>
            , <&key_physical_attrs 100 100 2037    0       0     0     0>
            , <&key_physical_attrs 100 100 2143    0       0     0     0>
            , <&key_physical_attrs 100 100 2249    0       0     0     0>
            , <&key_physical_attrs 100 100 2381    0       0     0     0>
            , <&key_physical_attrs 100 100 2487    0       0     0     0>
            , <&key_physical_attrs 100 100    0  132       0     0     0>
            , <&key_physical_attrs 100 100  106  132       0     0     0>
            , <&key_physical_attrs 100 100  212  132       0     0     0>
            , <&key_physical_attrs 100 100  318  132       0     0     0>
            , <&key_physical_attrs 100 100  423  132       0     0     0>
            , <&key_physical_attrs 100 100  529  132       0     0     0>
            , <&key_physical_attrs 100 100  635  132       0     0     0>
            , <&key_physical_attrs 100 100  794  132       0     0     0>
            , <&key_physical_attrs 100 100  900  132       0     0     0>
            , <&key_physical_attrs 100 100 1640  132       0     0     0>
            , <&key_physical_attrs 100 100 1746  132       0     0     0>
            , <&key_physical_attrs 100 100 1852  132       0     0     0>
            , <&key_physical_attrs 100 100 1958  132       0     0     0>
            , <&key_physical_attrs 100 100 2064  132       0     0     0>
            , <&key_physical_attrs 100 100 2170  132       0     0     0>
            , <&key_physical_attrs 200 100 2278  132       0     0     0>
            , <&key_physical_attrs 100 100 2540  132       0     0     0>
            , <&key_physical_attrs 150 100    2  238       0     0     0>
            , <&key_physical_attrs 100 100  159  238       0     0     0>
            , <&key_physical_attrs 100 100  265  238       0     0     0>
            , <&key_physical_attrs 100 100  370  238       0     0     0>
            , <&key_physical_attrs 100 100  476  238       0     0     0>
            , <&key_physical_attrs 100 100  582  238       0     0     0>
            , <&key_physical_attrs 100 100  794  238       0     0     0>
            , <&key_physical_attrs 100 100  900  238       0     0     0>
            , <&key_physical_attrs 100 100 1005  238       0     0     0>
            , <&key_physical_attrs 100 100 1482  238       0     0     0>
            , <&key_physical_attrs 100 100 1588  238       0     0     0>
            , <&key_physical_attrs 100 100 1693  238       0     0     0>
            , <&key_physical_attrs 100 100 1799  238       0     0     0>
            , <&key_physical_attrs 100 100 1905  238       0     0     0>
            , <&key_physical_attrs 100 100 2011  238       0     0     0>
            , <&key_physical_attrs 100 100 2117  238       0     0     0>
            , <&key_physical_attrs 100 100 2222  238       0     0     0>
            , <&key_physical_attrs 150 100 2330  238       0     0     0>
            , <&key_physical_attrs 100 100 2540  238       0     0     0>
            , <&key_physical_attrs 175 100    0  344       0     0     0>
            , <&key_physical_attrs 100 100  185  344       0     0     0>
            , <&key_physical_attrs 100 100  291  344       0     0     0>
            , <&key_physical_attrs 100 100  397  344       0     0     0>
            , <&key_physical_attrs 100 100  503  344       0     0     0>
            , <&key_physical_attrs 100 100  608  344       0     0     0>
            , <&key_physical_attrs 100 100  794  344       0     0     0>
            , <&key_physical_attrs 100 100  900  344       0     0     0>
            , <&key_physical_attrs 100 100 1005  344       0     0     0>
            , <&key_physical_attrs 100 100 1508  344       0     0     0>
            , <&key_physical_attrs 100 100 1614  344       0     0     0>
            , <&key_physical_attrs 100 100 1720  344       0     0     0>
            , <&key_physical_attrs 100 100 1826  344       0     0     0>
            , <&key_physical_attrs 100 100 1932  344       0     0     0>
            , <&key_physical_attrs 100 100 2037  344       0     0     0>
            , <&key_physical_attrs 100 100 2143  344       0     0     0>
            , <&key_physical_attrs 225 100 2253  344       0     0     0>
            , <&key_physical_attrs 100 100 2540  344       0     0     0>
            , <&key_physical_attrs 225 100    4  450       0     0     0>
            , <&key_physical_attrs 100 100  238  450       0     0     0>
            , <&key_physical_attrs 100 100  344  450       0     0     0>
            , <&key_physical_attrs 100 100  450  450       0     0     0>
            , <&key_physical_attrs 100 100  556  450       0     0     0>
            , <&key_physical_attrs 100 100  662  450       0     0     0>
            , <&key_physical_attrs 100 100  900  450       0     0     0>
            , <&key_physical_attrs 100 100 1005  450       0     0     0>
            , <&key_physical_attrs 100 100 1667  450       0     0     0>
            , <&key_physical_attrs 100 100 1773  450       0     0     0>
            , <&key_physical_attrs 100 100 1878  450       0     0     0>
            , <&key_physical_attrs 100 100 1984  450       0     0     0>
            , <&key_physical_attrs 100 100 2090  450       0     0     0>
            , <&key_physical_attrs 100 100 2196  450       0     0     0>
            , <&key_physical_attrs 100 100 2328  476       0     0     0>
            , <&key_physical_attrs 100 100 2434  476       0     0     0>
            , <&key_physical_attrs 100 100 2540  476       0     0     0>
            , <&key_physical_attrs 125 100    1  556       0     0     0>
            , <&key_physical_attrs 125 100  133  556       0     0     0>
            , <&key_physical_attrs 125 100  265  556       0     0     0>
            , <&key_physical_attrs 125 100  398  556       0     0     0>
            , <&key_physical_attrs 150 100  531  556       0     0     0>
            , <&key_physical_attrs 100 100  794  556       0     0     0>
            , <&key_physical_attrs 100 100  900  556       0     0     0>
            , <&key_physical_attrs 100 100 1005  556       0     0     0>
            , <&key_physical_attrs 100 100 1588  556       0     0     0>
            , <&key_physical_attrs 100 100 1693  556       0     0     0>
            , <&key_physical_attrs 150 100 1801  556       0     0     0>
            , <&key_physical_attrs 150 100 1959  556       0     0     0>
            , <&key_physical_attrs 150 100 2118  556       0     0     0>
            , <&key_physical_attrs 100 100 2328  582       0     0     0>
            , <&key_physical_attrs 100 100 2434  582       0     0     0>
            , <&key_physical_attrs 100 100 2540  582       0     0     0>
            , <&key_physical_attrs 100 100  416  828       0     0     0>
            , <&key_physical_attrs 100 100  522  722       0     0     0>
            , <&key_physical_attrs 100 100  522  828       0     0     0>
            , <&key_physical_attrs 100 100  522  933       0     0     0>
            , <&key_physical_attrs 100 100  628  828       0     0     0>
            , <&key_physical_attrs 100 100 1833  828       0     0     0>
            , <&key_physical_attrs 100 100 1939  933       0     0     0>
            , <&key_physical_attrs 100 100 1939  828       0     0     0>
            , <&key_physical_attrs 100 100 1939  722       0     0     0>
            , <&key_physical_attrs 100 100 2044  828       0     0     0>
            ;
    };
};
