#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Chutchit";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   50    9       0     0     0>
            , <&key_physical_attrs 100 100  183    0       0     0     0>
            , <&key_physical_attrs 100 100  289    0       0     0     0>
            , <&key_physical_attrs 100 100  404   16    1200   454    66>
            , <&key_physical_attrs 100 100  508   40    1200   558    90>
            , <&key_physical_attrs 100 100  637   69    1200   687   119>
            , <&key_physical_attrs 100 100  741   92    1200   791   142>
            , <&key_physical_attrs 100 100 1172   92 (-1200)  1222   142>
            , <&key_physical_attrs 100 100 1275   69 (-1200)  1325   119>
            , <&key_physical_attrs 100 100 1405   40 (-1200)  1455    90>
            , <&key_physical_attrs 100 100 1508   16 (-1200)  1558    66>
            , <&key_physical_attrs 100 100 1624    0       0     0     0>
            , <&key_physical_attrs 100 100 1730    0       0     0     0>
            , <&key_physical_attrs 100 100 1877    9       0     0     0>
            , <&key_physical_attrs 100 100 2022    9       0     0     0>
            , <&key_physical_attrs 100 100   30  149       0     0     0>
            , <&key_physical_attrs 100 100  211  149       0     0     0>
            , <&key_physical_attrs 100 100  317  140       0     0     0>
            , <&key_physical_attrs 100 100  429  165    1200   479   215>
            , <&key_physical_attrs 100 100  532  188    1200   582   238>
            , <&key_physical_attrs 100 100  636  212    1200   686   262>
            , <&key_physical_attrs 100 100  739  235    1200   789   285>
            , <&key_physical_attrs 100 100 1174  235 (-1200)  1224   285>
            , <&key_physical_attrs 100 100 1277  212 (-1200)  1327   262>
            , <&key_physical_attrs 100 100 1380  188 (-1200)  1430   238>
            , <&key_physical_attrs 100 100 1484  165 (-1200)  1534   215>
            , <&key_physical_attrs 100 100 1596  140       0     0     0>
            , <&key_physical_attrs 100 100 1701  149       0     0     0>
            , <&key_physical_attrs 100 100 1807  149       0     0     0>
            , <&key_physical_attrs 100 100 1913  149       0     0     0>
            , <&key_physical_attrs 100 100 2045  121       0     0     0>
            , <&key_physical_attrs 100 100   20  261       0     0     0>
            , <&key_physical_attrs 100 100  241  261       0     0     0>
            , <&key_physical_attrs 100 100  355  263    1200   405   313>
            , <&key_physical_attrs 100 100  458  286    1200   508   336>
            , <&key_physical_attrs 100 100  562  310    1200   612   360>
            , <&key_physical_attrs 100 100  665  333    1200   715   383>
            , <&key_physical_attrs 100 100 1144  356 (-1200)  1194   406>
            , <&key_physical_attrs 100 100 1247  333 (-1200)  1297   383>
            , <&key_physical_attrs 100 100 1351  309 (-1200)  1401   359>
            , <&key_physical_attrs 100 100 1454  286 (-1200)  1504   336>
            , <&key_physical_attrs 100 100 1558  263 (-1200)  1608   313>
            , <&key_physical_attrs 100 100 1672  261       0     0     0>
            , <&key_physical_attrs 100 100 1777  261       0     0     0>
            , <&key_physical_attrs 100 100 1910  261       0     0     0>
            , <&key_physical_attrs 100 100 2068  233       0     0     0>
            , <&key_physical_attrs 100 100   10  373       0     0     0>
            , <&key_physical_attrs 100 100  245  373       0     0     0>
            , <&key_physical_attrs 100 100  359  378    1200   409   428>
            , <&key_physical_attrs 100 100  462  402    1200   512   452>
            , <&key_physical_attrs 100 100  566  425    1200   616   475>
            , <&key_physical_attrs 100 100  669  448    1200   719   498>
            , <&key_physical_attrs 100 100 1192  460 (-1200)  1242   510>
            , <&key_physical_attrs 100 100 1295  436 (-1200)  1345   486>
            , <&key_physical_attrs 100 100 1399  413 (-1200)  1449   463>
            , <&key_physical_attrs 100 100 1502  390 (-1200)  1552   440>
            , <&key_physical_attrs 100 100 1616  373       0     0     0>
            , <&key_physical_attrs 100 100 1722  373       0     0     0>
            , <&key_physical_attrs 100 100 1894  373       0     0     0>
            , <&key_physical_attrs 100 100 2092  345       0     0     0>
            , <&key_physical_attrs 100 100    0  485       0     0     0>
            , <&key_physical_attrs 100 100  274  485       0     0     0>
            , <&key_physical_attrs 100 100  388  500    1200   438   550>
            , <&key_physical_attrs 100 100  492  523    1200   542   573>
            , <&key_physical_attrs 100 100  595  546    1200   645   596>
            , <&key_physical_attrs 100 100  699  569    1200   749   619>
            , <&key_physical_attrs 100 100 1136  587 (-1200)  1186   637>
            , <&key_physical_attrs 100 100 1240  564 (-1200)  1290   614>
            , <&key_physical_attrs 100 100 1343  540 (-1200)  1393   590>
            , <&key_physical_attrs 100 100 1446  517 (-1200)  1496   567>
            , <&key_physical_attrs 100 100 1550  494 (-1200)  1600   544>
            , <&key_physical_attrs 100 100 1669  485       0     0     0>
            , <&key_physical_attrs 100 100 1814  485       0     0     0>
            , <&key_physical_attrs 100 100 1986  513       0     0     0>
            , <&key_physical_attrs 100 100   40  606       0     0     0>
            , <&key_physical_attrs 100 100  392  615    1200   442   665>
            , <&key_physical_attrs 100 100  573  656    1200   623   706>
            , <&key_physical_attrs 100 100  729  691    1200   779   741>
            , <&key_physical_attrs 100 100  816  596    1200   866   646>
            , <&key_physical_attrs 100 100 1019  613 (-1200)  1069   663>
            , <&key_physical_attrs 100 100 1300  664 (-1200)  1350   714>
            , <&key_physical_attrs 100 100 1520  615 (-1200)  1570   665>
            , <&key_physical_attrs 100 100 1880  625       0     0     0>
            , <&key_physical_attrs 100 100 1986  625       0     0     0>
            , <&key_physical_attrs 100 100 2092  625       0     0     0>
            , <&key_physical_attrs 100 100  285  900       0     0     0>
            , <&key_physical_attrs 100 100  385  794       0     0     0>
            , <&key_physical_attrs 100 100  385  900       0     0     0>
            , <&key_physical_attrs 100 100  385 1006       0     0     0>
            , <&key_physical_attrs 100 100  485  900       0     0     0>
            , <&key_physical_attrs 100 100 1423  900       0     0     0>
            , <&key_physical_attrs 100 100 1523  794       0     0     0>
            , <&key_physical_attrs 100 100 1523  900       0     0     0>
            , <&key_physical_attrs 100 100 1523 1006       0     0     0>
            , <&key_physical_attrs 100 100 1623  900       0     0     0>
            ;
    };
};
